.App {
  margin: .5em;
}
nav{
  display: flexbox;
}
.brand {
  color: #4D4D4D;
}
.brand h1{
  font-family: "Cormorant";
 margin: 0 .05em;
  font-size: 2rem;
}
.brand h4{
  font-family: "Roboto";
 margin: 0 .25em;
  font-size: .85rem;
}
