/* MyComponent.module.css */

.hero {
  @apply flex items-center justify-center bg-black w-full relative;
  height: 75vh;
}

.hero__wrapper {
  @apply flex items-center justify-between w-full relative h-full;
  padding: 0 20px;
  overflow: hidden;
}

.hero__button {
  @apply text-4xl cursor-pointer text-white bg-black bg-opacity-50 p-2 rounded-full mx-2 select-none z-10 transition-transform ease-in-out duration-300;
}

.hero__button:hover {
  transform: scale(2);
}

.hero__button:active {
  @apply bg-blue-500;
}

.hero__image {
  @apply w-full h-full object-contain object-center;
}
.tech_icons {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.link_position {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}
